{% extends 'app_one/base.html' %}
{% block body_block %}
<style>
#jumbotronaboutme
{
    background-color: #E3F2FD;
}

</style>
<div class="jumbotron-header-bar__inner" id="jumbotronaboutme">
    <div>
        <h1 data-purpose="user-name">Nimish Bansal</h1>
        <h3>Mobile and Web Developer - Android, Django, Python. etc</h3>
    </div>
</div>
<div class="auto">
    <img src="https://he-s3.s3.amazonaws.com/media/avatars/nimish4july1998/resized/160/f1f0f64nimish.jpg" class="img-circle" style="{float:left;height:100%;}">
</div>

{% endblock %}
